.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.show-menu {
  cursor: pointer;
}

input.checkbox-menu[type="checkbox"] {
  display: none;
  -webkit-appearance: none;
}

input.checkbox-menu[type="checkbox"]:checked ~ div.menu-block {
  opacity: 1;
  visibility: visible;
}

nav {
  color: #fff;
  position: absolute;
  left: 0;
}

.nav-icon {
  display: inline-block;
  font-size: 1.5em;
  padding: 0.5em;
  vertical-align: middle;
  color: #e5e5e5;
}

.menu-block {
  display: inline-block;
  opacity: 0;
  vertical-align: middle;
  visibility: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

ul.navUL {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.navUL li {
  display: inline-block;
  padding: 0px 5px;
}

ul.navUL li a {
  color: #c2c2c2;
  display: block;
  padding: 3px;
  text-decoration: none;
}

ul.navUL li a:hover {
  color: #888;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
}
